@use "src/styles/theme";

.header {
  height: theme.$headerHeight;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 4;

  display: flex;
  grid-area: header;
}

.logo {
  height: 100%;
  padding-right: 16px;
}
