.nhItem {
  display: flex;
  flex-flow: row;
  @media (max-width: 48rem) {
    flex-flow: row wrap;
  }
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.nhImage {
  padding-right: 8px;
}

.nhItemContainer {
  @media (max-width: 48rem) {
    flex: 0 0 100%;
    order: 1;
  }
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.nhTitle {
  margin-top: 8px;
  margin-bottom: 8px;
}

.nhSubImageList {
  margin-top: 8px;
  margin-bottom: 8px;
}

.nhItemCheckButton {
  flex-shrink: 0;
  margin-left: auto;
  width: 32px;
  height: 32px;
}
